body {
	background-color: #000000;
	font-family: "Lucida Console", Monaco, monospace;
}

#map {
	position: relative;
	width: 512px;
	height: 512px;
	margin: 29px auto;
}

#map div {
	position: relative;
	float: left;
	width: 58px;
	height: 58px;
	margin: 3px;
	border-radius: 32px;
	box-sizing: border-box;
}

.one {
	background-color: #fa00ac;
}

.zero {
	background-color: #fff500;
}

#map div.connected-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#map div.connected-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#map div.connected-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#map div.connected-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}